.formtsx-default-filepicker {
    width: max-content;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    margin: 0;
}

.formtsx-default-filepicker>div>input {
    outline: none;
}

.formtsx-default-filepicker>div>svg {
    color: black;
    background-color: gainsboro;
    font-size: 2rem;
    text-justify: auto;
    border-radius: 5px;
    margin: 0;
    padding: .2rem;
}

.formtsx-default-filepicker>div>svg:hover {
    color: red;
}