.formjsx-default-retractable>div:nth-child(1),
.formjsx-default-retractable-folded>div:nth-child(1) {
    display: flex;
    align-items: center;
    flex-flow: nowrap;
    margin: 3rem 0 0;
    padding: 0 1rem .2rem;
    font-size: 1rem;
    cursor:pointer;
}

.formjsx-default-retractable-folded>div:first-child>svg,
.formjsx-default-retractable>div:first-child>svg {
    display: block;
    font-size: 2rem;
    margin: 0 .5rem;
}

.formjsx-default-retractable>div:nth-child(2) {
    padding-bottom: 2rem;
}
.formjsx-default-retractable-folded>div:nth-child(2) {
    display: none;   
}