.formtsx-default-section {
    background-color: white;
    border-radius: 0px;
    margin: 2rem;
    padding: 1rem;
    max-width: 800px;
}

.formtsx-default-section>legend:nth-child(1) {
    margin: .4rem;
    text-align: center;
    font-size: 1rem;
}