.formtsx-default-textarea>textarea {
    font-size: .9rem;
    display: block;
    margin: .1rem;
    height: max-content;
    border: 1px solid #aaa;
    border-radius: 5px;

    max-width: 100%;
    max-height: 6rem;

    outline: none;
}

.formtsx-default-textarea>textarea:focus {
    outline: 1px solid black;
}