.formtsx-default-fieldstable {
    display: block;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #e9e9ed;

    width:max-content;
    margin: 1rem 0;
    max-width: 100%;
    max-height: 25rem;
    overflow: auto;
}
.formtsx-default-fieldstable thead {
    cursor: default;
    
}

.formtsx-default-fieldstable thead tr {
    position: relative;
}
.formtsx-default-fieldstable thead tr th {
    color: gray;
    background-color: #e9e9ed;
    border-bottom: lightgray solid 1px;

    font-weight: normal;
    font-size: .8rem;
    padding: .2rem;
    min-width: 6rem;

    position: sticky;
    top: 0;
}




.formtsx-default-fieldstable tbody {
    white-space: nowrap;
}

.formtsx-default-fieldstable tbody tr{
    line-height: 0;
}

.formtsx-default-fieldstable svg {
    display: block;
    text-align: center;
    margin: .4rem auto;
    padding: 0 .4rem;
    color: gray;
    font-size: 1.5rem;
}
.formtsx-default-fieldstable svg:hover {
    cursor: pointer;
    color: black;
    transform: scale(1.1);
}
.formtsx-default-fieldstable tbody label {
    margin: 0 .1rem;
}